body, p {
    margin: 0;
}
a {
    font-size: 20px;
}

/*
下の余白を20pxにします。
背景色を「 rgb(244, 79, 79)」にします。
中の要素が中央揃えになるようにします。
h1要素内のスタイルを以下のように設定します。
文字色をrgb(255, 255, 255)にします。
*/


header {
    margin-bottom: 20px;
    background-color: rgb(244,79,79);
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

main {
    padding: 10px;
}
#parent {
    display:flexbox;
    justify-content: space-between;
}
.contents {
    border: solid 3px rgb(238,204,204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0;
    justify-content: center;
}


h2 {
    font-size: 25px;
    border-bottom: solid 3px rgb(236,122,122);
}
before::h2 {
    content: "●";
    color: rgb(239,111,139);
}
.contents p::first-letter p:nth-of-type(1) {
    font-weight: bold;
    color: rgb(97,206,249);
}
.contents image {
    margin: 10px 0;
    flex-basis: 70%;
}


