#top {
    width: 800px;
    background-color: #dcc9f4;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}
.top-child {
    width: 20%;
    background-color: #ffd9df;
    display: inline-block;
    margin: 0;
}
#middle {
    width: 800px;
    height: 800px;
    padding: 20px 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffd9df;
    position: relative;
}
#middle-child01, #middle-child02, #middle-child03 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
}

#middle-child01 {
    position: absolute;
    top: 100px;
    left: 100px;
}

#middle-child02 {
    position: absolute;
    top: 300px;
    left: 300px;    
}

#middle-child03 {
    position: absolute;
    top: 500px;
    left: 500px;    
}


/*
div要素（id名「bottom」）に対する装飾
横幅を800pxにします。
高さを300pxにします。
画面の中央に配置します。
背景色を「#87ceeb」にします。
div要素（id名「bottom-child01」「bottom-child02」「bottom-child03」）に対する共通の装飾
横幅を400pxにします。
高さを100pxにします。
背景色を「#e5dcf0」にします。

style.cssファイルにてpositionプロパティを利用し、以下画像のような配置になるようdiv要素（id名「bottom-child02」「bottom-child03」）のCSSコードを記入してください。
div要素（id名「bottom-child02」）は、本来の表示場所の左から200pxずらして配置してください。
div要素（id名「bottom-child03」）は、本来の表示場所の左から400pxずらして配置してください。
*/

#bottom {
    width: 800px;
    height: 300px;
    background-color: #87ceeb;
    margin-left: auto;
    margin-right: auto;
}

#bottom-child01 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
}
#bottom-child02 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    position: relative;
    left: 200px;
}
#bottom-child03 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    position: relative;
    left: 400px;
}




